<p>An interface sits between a user and the machine they want to control. The interface is here to convey the user's intent to the machine, which can then act accordingly.</p>

<p>Think about the remote control of your TV. It is just a plastic box with buttons. But buttons are to be pressed and the letters printed on them indicate what they do. The physical action of pressing the button printed with '1' is transcribed into an electronic signal that is understood by the TV to display channel 1.</p>

<p>This ability for a machine to translate user's actions into their meanings<dt-fn>i.e. to know what the user wants the machine to do when performing a particular action, like pressing the button '1' to display channel 1.</dt-fn> seems paramount for an interface to work. How could a machine respond to some commands if it does not know what those commands mean?</p>

<p>We showcase such a machine below. The plan is as follow:</p>

<ol>

  <li>We will first present the interface, a PIN-entering device, and learn to type a PIN by pressing buttons of known meanings<dt-fn>It will be clear to both you and the machine what each button is used for.</dt-fn>. We will analyse this interface and highlight the various components that are at play. <a href="#section-1">[Go to section 1]</a></li>

  <li>Fun will start right after, buttons will loose their markings and you will get to decide what each button means and use them that way. The machine won't know that but will nonetheless figure out your PIN, as well as the meaning of each button. We will decipher how it works and refine our analysis to include what we learned. <a href="#section-2">[Go to section 2]</a></li>

  <li>Then things will turn wild, we will no longer use buttons<dt-fn>Which are discrete/symbolic signals.</dt-fn> but place points on a 2D map. There again, you will get to decide the 'geography' of this map, which areas are associated to which meanings. This will teach us about scaling this work to continuous domains, a challenging task requiring to train a classifier<dt-fn>One that translates continuous user signals into their associated discrete meanings.</dt-fn> without access to known labels. <a href="#section-3">[Go to section 3]</a></li>

  <li>Once the Pandora's box of continuous signals is opened, all kind of modalities can be envisioned. You will enter your PIN by drawing small sketches and even using spoken commands. Once again, you will get to decide what drawings or sounds you want to use, and the machine will find out both your PIN and a classifier mapping your signals to their meanings. <a href="#section-4">[Go to section 4]</a></li>

  <li>Finally, we will zoom out, present previous more formal work on the subject, highlight some remaining challenges, and ask ourselves how this work can be useful with concrete examples from brain-computer interfaces to the study of language formation. <a href="#section-5">[Go to section 5]</a></li>

</ol>

<p><i style="font-size: 14px">We recommend going through each section in order. You will need an active internet connection for the demos and videos to work.</i></p>
