<a id="section-2"></a>
<h2>The interface learns from you</h2>


<p>We can now express the challenge we are facing in clear terms </p>


<p>a meaning is an interpretation of an action. And this interpreatation can be different between the emitter and the receiver depnding on the context.</p>

<p>hihglight the assumption of consistency</p>


<p>let use this reasoning i the first version of the interface with two buttons, we would say "if the user wants to type a 1 and my model for the digit 1 is that the user is using the left button to mean yeloow etc, then when he pressed the left button, he was being inconsistent with the model I have of them, thus I can discard this hypothesis." It is a bit more convoluted that the one we used, but it is exactly as valid. And seeing the problem with this new pair of eyes turns out to be fundamental to understand the remaining of this article.</p>


<p>And it is very important to think of it that way for the following. We do not simply prune out hypothetic number because the colors did not match. We do it bevause it breaks our underlying assumption about how the user behave if they were trying to convey a certain intent.</p>


<p>
figure of the three areas of the interface

explaining the function that are below
- f(user, context) -> action
- f(action)-> meaning
- f(context,meaning)-> intent
</p>


<p>The interface will follow us all along this article and the actions we do to communicate with it will change.</p>


<p>Next continuous signals were the combinatority trick would not be possible</p>
