<a id="section-3"></a>
<h2>Continuous signals</h2>

<p>

Interestingly, consistency is an assumtion that powers most, if not all, machine learning algorithms, in a similar way as the Occam's razor principle. This assumtions of consistency is directly encoded in the cost functions that are optimized in both supervised and unsupersived learning problems. We will come back to this is more details, but

We build a model from what if see and then test that model on what we see next. Which one is better able to predict what we do next, it is assumed to be the good one Because we assume the user is consistent shared assumtion with all machine learning paradigms.

Talk about calibration
</p>


<include src="src/figures/vault_touch.html"></include>


<include src="src/figures/hood_touch.html"></include>
