<a id="section-4"></a>
<h2>Draw and speak</h2>





<p>
This next section should be particularly stricking to machine learnign experts, but a bit less for non-machine learning expert as it will feel a lot like using the interface  with buttons.
</p>


<p>
  Reference: https://github.com/IBM/MAX-Audio-Embedding-Generator

scikit learn
umap

cite all librairies making this possible


it could also work with images, gestures, brain signals, I let the reader use their imagination.

I coudl take a picture of a cat for yellow and of a dog for grey.
</p>
