<a id="section-5"></a>
<h2>Discussions</h2>

, one that does not need to know beforehand how to translate user's actions into their meanings, but can nonetheless infer what the user wants the machine to do.


First talk about the disssociateion between the signal and the action of the machine. Here the signal does not request an immediate action but rahter guide the machine towards the goals. Refine the wording from the introduction, highlight the differences.


planning
all extension in the thesis
representation
balance of classes (2x5) but out of balance classes can be used to more efficiently discriminate between the classes. discuss


human computer interfaces safe from onlookers
human robot interfaces
brain computer interfaces
neural response to stimuli
language games
phsycology / intent prediction (problem of mapping behavior to intention when the person does not act according to the norm (which is the calibration from society)), whcih can be applied for good and for bad
decryption? (check cell phone algorithms)


mathematical modeling + challenge to teach it
(we have shown that it works and gave a very exhasutive visualisation of how we solved this problem. Attempts at modelizing the problem have been done in the past (cite thesis). We explicitly do not want to provide a fomral  mathematical description of the problem, nor of how we implemented our solution. Why? Because we think the mathematcial description we have come up with before might not be the most appropriate. Our expectation is for some experienced readers to come up with a represenation that can explain all the phenomenon we put forward in this talk. We woudl bias them by providng our own view of the world here. It might needs to be rediscovered using a fresh mind.)
CHALLENGE

user acceptance and shift of bahavior in time
computational cost
other metrics of consistency


The current paradigms in human-machine interaction either require the user to conform to the designer choices, to adapt to the machine. And a lot of research is done into how to optimize interface so they can be understood by everyone.

Another paradigms start by calibrating the machine to each users by collecting labelled data and training a classifier. This is more flexible and especially adapted to signal which human are not used to produce to control the world around them, such as brain signals, nerve inpulses, etc.

Maybe a third paradigms could be explore, where users can start interacting with a machine without calibration, and going their own way. It certainly is not practical for all applications, but maybe for some for good and to solve useful problems.

Finding them will reauire thinking outside the box of course but we might be surprised, let's try.
