
planning
all extension in the thesis
representation

human computer interfaces safe from onlookers
human robot interfaces
brain computer interfaces
neural response to stimuli
language games
phsycology / intent prediction (problem of mapping behavior to intention when the person does not act according to the norm (which is the calibration from society)), whcih can be applied for good and for bad
decryption? (check cell phone algorithms)


mathematical modeling + challenge to teach it
user acceptance and shift of bahavior in time
computational cost
other metrics of consistency
