<p>An interface sits between a user and the machine they want to control. The interface is here to convey the user's intent to the machine, which can then act accordingly.</p>

<p>Think about the remote control of your TV. It is just a plastic box with buttons. The buttons are to be pressed and the letters printed on them indicate what they do. The physical action of pressing the button printed with '1' is transcribed into an electronic signal that is understood by the TV to display channel 1.</p>

<p>This ability for a machine to translate user's actions into their meanings seems paramount for an interface to work. How could a machine respond to some commands if it does not know what those commands mean?</p>

<p>We showcase such a machine below. The plan is as follow:</p>

<ol>

  <li>In <a href="#section-1">section 1</a>, we present our interface, a PIN-entering device, and learn how to type a PIN by pressing buttons of known meanings. We analyse this interface and highlight the various components that are at play.</li>

  <li>In <a href="#section-2">section 2</a>, we present the self-calibrating version of our interface. The buttons will loose their markings and you will get to decide what each button means. The machine will nonetheless figure out your PIN, as well as the meaning of each button. We will decipher how it works and refine our mental model to include what we learned.</li>

  <li>In <a href="#section-3">section 3</a>, we learn how to scale our approach to continuous user's actions. It is a challenging task because it requires to train a classifier without access to known labels. To showcase this, our interface will no longer have buttons. You will place points on a 2D map instead, and you will decide which areas of the map are associated to which meanings.</li>

  <li>In <a href="#section-4">section 4</a>, we demonstrate the use of more natural interaction modalities. You will enter your PIN by drawing small sketches and using spoken commands. Once again, you will get to decide what sketches or sounds you want to use, and the machine will identify both your PIN and a classifier mapping your actions to their meanings.</li>

  <li>In <a href="#section-5">section 5</a>, we present previous academic work on the subject, position this work into the human-computer interface and machine-learning landscape, highlight some remaining challenges, and ask ourselves how this work can be useful with concrete examples from brain-computer interfaces to the study of language formation.</li>

</ol>

<!-- <p class="note">We purposefully limited our use of scientific references and mathematical notation in section 1 to 4. We aim to make this discussion accessible to readers with various background. Section 5 will discuss related work and remaining challenges in a more formal and technical style.</p> -->

<p class="note">We recommend going through each section in order. You will need an active internet connection for the demos and videos to work.</p>
