<h2>A pre-calibrated interface</h2>


, one that does not need to know beforehand how to translate user's actions into their meanings, but can nonetheless infer what the user wants the machine to do.

<p>To communicate with the machine, you will click on buttons, place points on a map, draw sketches, and even use spoken commands.</p>





<p>Talk of intent, meaning and behavior</p>
<p>Give exemple in picture</p>
<p>We can also cite <dt-cite key="gregor2015draw"></dt-cite> external publications.</p>




he<dt-fn>'He' is used as a <a href="https://waitbutwhy.com/2019/08/stick-figure-guide.html">gender-neutral pronoun</a> in this article.</dt-fn>




<script>
  function load_1x2() {
    document.getElementById('vault-loader-container-1x2').innerHTML = '<div class="resp-div vault"><iframe class="resp-iframe" src="https://openvault.jgrizou.com/#/ui/demo_1x2.json"></iframe></div>';
  }
</script>


<div class="container">
  <div class="row align-items-center justify-content-center">

    <div class="col-lg-6 col-md-6 col-sm-8 col-10 nopadding">
      <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item"
          src="https://www.youtube.com/embed/DsqyD3eKX3E?start=0&rel=0"
          allowfullscreen>
          </iframe>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-8 col-10 nopadding">
      <div id="vault-loader-container-1x2">

          <div class="vault-loader-panel">
            <img src="./media/1x2.png" onclick="load_1x2()">
            <button type="button" class="btn btn-secondary btn-lg" onclick="load_1x2()">Click to load</button>
          </div>

      </div>
    </div>

  </div>
</div>
