p, ol, li{
  text-align: justify
}

.note {
  font-size: 13px;
  font-style: italic;
}


:root {
  --border-color: rgba(0, 0, 0, 1);
  --border-width: 2px;
  --margin-top-bottom: 20px;

  --padding-top-vault: 164.5%;
  --padding-top-hood: 83.33%;
}

.vault-loader-panel {
  position: relative;
}

.vault-loader-panel img {
  max-width: 100%;
  max-height: 100%;
  filter: blur(1px);
  margin-top: var(--margin-top-bottom);
  margin-bottom: var(--margin-top-bottom);
  border-width: 2px;
  border-color: black;
  border-style: solid;
  cursor: pointer;
}

.vault-loader-panel button {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resp-div {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--margin-top-bottom);
  margin-bottom: var(--margin-top-bottom);
  overflow: hidden;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: var(--border-width);
  border-color: var(--border-color);
}

.vault {
  padding-top: var(--padding-top-vault);
}

.hood {
  padding-top: var(--padding-top-hood);
}



@media (min-width: 380px){
  .img-banner-top, .img-banner-bottom-left, .img-banner-bottom-right {
    width: 19%;
  }
}

@media (max-width: 380px){
  .img-banner-top {
    width: 30%;
  }

  .img-banner-bottom-left {
    margin-left: 15%;
    width: 30%;
  }

  .img-banner-bottom-right {
    margin-right: 15%;
    width: 30%;
  }


}
