<h1>Interactive introduction to self-calibrating interfaces</h1>

<p>A self-calibrating interface can identify what you are trying to do without knowing how you are trying to do it. You will discover one in this article and visualise how it works.</p>

<p>
  <img class="img-banner-top" src="./media/demo_1x2.gif">
  <img class="img-banner-top" src="./media/demo_3x3.gif">
  <img class="img-banner-top" src="./media/demo_touch.gif">
  <img class="img-banner-bottom-left" src="./media/demo_draw.gif">
  <img class="img-banner-bottom-right" src="./media/demo_audio.gif">
</p>
